*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.brf
*.loa
*.swp

__pycache__/

/graphs/
/data/SDP_performance.dat
/data/POP_dim_performance.dat
tables/SDP_performance.tex
tables/POP_dim_performance.tex
/macros/
