*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.brf
*.loa
*.swp

__pycache__/

/graphs/

/data/SDP_performance.dat
/data/POP_dim_performance.dat
/data/POP_deg_performance.dat
/data/app_P3P_err.dat
/data/app_P3P_cdist.dat
/data/app_P3P_rangle.dat
/data/app_P3P_times.dat
/data/app_P3P_relax.dat
/data/app_P35Pf_err.dat
/data/app_P35Pf_cdist.dat
/data/app_P35Pf_rangle.dat
/data/app_P35Pf_frel.dat
/data/app_P35Pf_times.dat
/data/app_P35Pf_relax.dat

/tables/SDP_performance.tex
/tables/POP_dim_performance.tex
/tables/POP_deg_performance.tex
/tables/app_P3P_numberSolutions.tex
/tables/app_P35Pf_numberSolutions.tex

/macros/
